.odd {
    background-color: rgb(255, 154, 154);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.p-2 {
    font-size: 24px;
}

#div-1 {
    color: rgb(49, 49, 255);
    font-size: 36px;
}

#div-2 {
    background-color: rgb(116, 255, 106);
    font-weight: bold;
}